:root {
  --base-font-size: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Crimson Text", serif;
}

header {
  background-color: teal;
  padding-block: 2rem 0;
  padding-inline: 2rem;
  color: white;
}

header h1 {
  margin: 0 0 0 3rem;
  font-weight: 600;
  font-size: 4rem;
  font-family: "Crimson Text", serif;
}

main {
  padding-block: 2rem;
  padding-inline: 5rem 2rem;
}

#introduction {
  max-width: 24em;
  font-size: 2rem;
  line-height: 1;
}

#introduction p {
  position: relative;
}

#introduction svg {
  position: absolute;
  left: -3rem;
  top: 0;
  width: 2rem;
  aspect-ratio: 1;
}

#introduction a {
  color: teal;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-block: 0.5em;
  font-weight: 700;
  font-size: 1.5em;
}

h2 {
  font-weight: 700;
  font-size: 1rem;
}

h3,
section h1 {
  font-weight: 500;
  font-size: 1rem;
}

h1 code {
  margin-inline: inherit;
}

h1 code:has(.signature) {
  font-variant-ligatures: inherit;
}

table {
  border-collapse: collapse;
  line-height: 1;
}

th,
td {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 153, 153, 0.25);
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

th {
  background-color: rgba(0, 153, 153, 0.125);
}

blockquote {
  margin-inline: 0;
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-left-color: rgba(0, 128, 128, 0.5);
  padding-left: 1rem;
}

pre {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 153, 153, 0.25);
  border-radius: 4px;
  background-color: rgba(0, 153, 153, 0.125);
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  line-height: calc(4 / 3);
}

code {
  margin-inline: 0.25em;
  font-size: 0.75em;
  font-family: "Fira Code", monospace;
  font-variant-ligatures: none;
}

pre > code {
  --line-height: 1.5em;
  display: block;
  margin-inline: inherit;
  font-size: calc(1em * 2 / 3);
  line-height: var(--line-height);
}

pre > code.expression::before {
  color: darkgrey;
  content: "> ";
}

pre > code.expression ~ code.expression {
  margin-top: var(--line-height);
}

.comment {
  color: darkgrey;
}

.delimiter {
  color: lightseagreen;
}

.delimiter.group {
  color: darkgrey;
}

.separator {
  color: darkgrey;
}

.identifier.introduction {
  color: mediumvioletred;
}

.identifier.reference {
  color: teal;
}

.boolean {
  color: indianred;
}

.null {
  color: indianred;
}

.undefined {
  color: indianred;
}

.number {
  color: dodgerblue;
}

.string {
  color: forestgreen;
}

.property-name {
  color: slateblue;
}

.property-accessor {
  color: lightseagreen;
}

.operator {
  color: purple;
}

.signature {
  color: darkgrey;
}

a[href^="#operator:"] {
  --border-width: 2px;
  display: inline-block;
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  border-radius: 10em;
  background-color: rgba(216, 191, 216, 0.5);
  padding-inline: calc(0.25em - var(--border-width));
  text-decoration: none;
}

a[href^="#operator:"]:focus {
  border-color: purple;
  outline: none;
}

a[href^="#operator:"]:hover {
  background-color: rgba(216, 191, 216, 1.0);
}

a[href^="#operator:"] code {
  margin-inline: inherit;
}
